<!DOCTYPE html>
<html>
  <head>
    <title>Results</title>
    <style>
      body {
        background-image: url("C:\\Users\\DELL\\OneDrive\\Desktop\\New\\static\\result.jpeg");
        background-size: cover; /* Adjust this property to control how the image scales */
        background-repeat: no-repeat;
      }
    </style>
  </head>
  <body bgcolor="#f3e5f5" ;>
    <center>
      <br /><br /><br /><br />
      <font face="Times New Roman" size="20"><b>Welcome to the results page</b> </font></h1>
      <h2>Here is your percentage:</h2>
      <h2> Percentage : {{ percentage }}%<h2>
        <h2> Good ! Keep Going</h2>
        <br>
        <br>
    </center>
  </body>
</html>